<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.mapper.GetDayDataMapper">

    <resultMap id="NODataMap" type="com.zy.vo.NoDataVO">
        <id column="root.EM.NO1.id" property="id"/>
        <result column="root.EM.NO1.Date" property="Date"/>
        <result column="root.EM.NO1.ST" property="ST"/>
        <result column="root.EM.NO1.SM" property="SM"/>
        <result column="root.EM.NO1.CDC" property="CDC"/>
        <result column="root.EM.NO1.LI" property="LI"/>
        <result column="root.EM.NO1.AT" property="AT"/>
        <result column="root.EM.NO1.AH" property="AH"/>
        <result column="root.EM.NO1.PM25" property="PM25"/>

        <result column="root.EM.NO2.id" property="id"/>
        <result column="root.EM.NO2.Date" property="Date"/>
        <result column="root.EM.NO2.SF" property="SF"/>
        <result column="root.EM.NO2.ECOS" property="ECOS"/>
    </resultMap>


    <select id="GetNODayData" resultMap="NODataMap">
        SELECT
            #{dataName}
        FROM
            root.EM.NO1,root.EM.NO2
        WHERE
            root.EM.NO1.id=root.EM.NO2.id AND time>#{BeforeFormat} AND id = #{DeviceID}
        ORDER BY
            time ASC
        limit 1
    </select>

<!--    <select id="GetNO2DayData" resultMap="NODataMap">-->
<!--        SELECT-->
<!--            #{dataName}-->
<!--        FROM-->
<!--            root.EM.NO2-->
<!--        WHERE-->
<!--            time>#{BeforeFormat} AND id = #{DeviceID}-->
<!--        ORDER BY-->
<!--            time ASC-->
<!--        limit 1-->
<!--    </select>-->
</mapper>